<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
      layout:decorate="~{layout}"> 
    <body layout:fragment="body">
        <header>
            <section class="page-section" id="contact">

                <form th:action="@{/MateriaJPA/form}" method="post" th:object="${materia}" enctype="multipart/form-data" id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="container">
                          <input type="hidden" th:field="*{idmateria}">
                        </br></br>
                        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Materias</h2>
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" th:field="*{nombre}"/>
                            <label for="name">Nombre</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Por favor ingresa el dato.</div>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="costo" type="text" placeholder="Ingresa tu apellido paterno" data-sb-validations="required" th:field="*{costo}" />
                            <label for="costo">Costo</label>
                            <div class="invalid-feedback" data-sb-feedback="costo:required">Por favor ingresa el dato.</div>
                        </div>                                     
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Guardado exitosamente</div>
                                <br />
                            </div>
                        </div>                        
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                         <input type="submit" value="Guardar" class="btn btn-success" />
                    </div>
                </form>
            </section>
        </header> 
</html>