<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
      layout:decorate="~{layout}"> 
    <body layout:fragment="body">
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <img class="masthead-avatar mb-5" src="/imagen/avataaars.svg" alt="..." />
                <h1 class="masthead-heading text-uppercase mb-0">Control Escolar</h1>
                <!-- Division de estrella-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <p class="masthead-subheading font-weight-light mb-0">Crear - Actualizar - Eliminar</p>
            </div>
        </header>    
    </body>    
</html>