<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>DigiPro Examen</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link href="/imagen/estilos/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />  
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="/AlumnoMateriaJPA/listado">Control Escolar </a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/AlumnoJPA/listado">Alumnos</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/MateriaJPA/listado">Materias</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/AlumnoJPA/Inicio">Home</a></li>
                        </br>
                    </ul>
                </div>
            </div>
        </nav>
        <header>
            <section class="page-section" id="contact">
                <div class="container">
                    </br></br>
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Materias del Alumno</h2>
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xl-7">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ELIMINAR</th>
                                        <th scope="col">ID ALUMNO</th>
                                        <th scope="col">NOMBRE DE ALUMNO</th>
                                        <th scope="col">ID MATERIA</th>
                                        <th scope="col">NOMBRE DE MATERIA</th>
                                        <th scope="col">EDITAR</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr th:each="alumnomateria : ${alumnomaterias}">
                                        <td>
                                            <a th:href="@{/AlumnoMateriaJPA/EliminarMateria/{idalumnomateria}(idalumnomateria=${alumnomateria.idalumnomateria})}" class="btn btn-danger">
                                                <i class="bi bi-trash3"></i>                           
                                        </td>
                                        <td th:text="${alumnomateria.alumno.idalumno}"></td>
                                        <td th:text="${alumnomateria.alumno.nombre}"></td>
                                        <td th:text="${alumnomateria.materia.idmateria}"></td>
                                        <td th:text="${alumnomateria.materia.nombre}"></td>                                     

                                        <td>
                                            <a  class="btn btn-warning"
                                                th:attr="onclick='mostrarModalReserva(\'__${alumnomateria.idalumnomateria}__\')'"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalCenter"> <i class="bi bi-pencil-square"></i></a>

                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modificar</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="modalContent">
                                <p><strong>Id del Alumno-Materia:</strong> <span id="idalumnomateria"></span></p>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-journal-bookmark-fill"></i></span>
                                    <!-- Dropdown de Materias -->
                                    <select th:if="${materias == null}" class="form-select" aria-label="Default select example" name="Materia" id="idmateria">
                                        <option value="0">Seleccione una materia</option>
                                    </select>
                                    <select th:unless="${materias == null}" class="form-select" aria-label="Default select example" name="Materia" id="idmateria">
                                        <option th:each="materia : ${materias}" th:value="${materia.idmateria}" th:text="${materia.nombre}"></option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-journal-bookmark-fill"></i></span>
                                    <!-- Dropdown de Alumnos -->
                                    <select th:if="${alumnos == null}" class="form-select" aria-label="Default select example" name="Alumno" id="idalumno">
                                        <option value="0">Seleccione un Alumno</option>
                                    </select>
                                    <select th:unless="${alumnos == null}" class="form-select" aria-label="Default select example" name="Alumno" id="idalumno">
                                        <option th:each="alumno : ${alumnos}" th:value="${alumno.idalumno}" th:text="${alumno.nombre}"></option>
                                    </select>
                                </div>



                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button id="idAgregar" class="btn btn-primary" onclick="reservarVuelo()">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>        
        Footer
        <footer class="footer text-center">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Ubicacion</h4>
                        <p class="lead mb-0">
                            Reforma 199
                            <br />
                            CDMX
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Equipo 1</h4>
                        <p class="lead mb-0">
                            Jair Antonio Palos Hernandez </br>
                            Eric Roque Gonzales </br>
                            Dennis Anayetzy Cuahutecatl Flores 
                            <a href="https://github.com/JPalos99/Equipo1ControlEscolar">Repositorio</a>
                            .
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; Digis01 2023</small></div>
        </div>       
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>       
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
<script>

                                    function mostrarModalReserva(numeroVuelo) {
                                        $("#idalumnomateria").text(numeroVuelo);
                                        $("#exampleModalCenter").modal('show');
                                    }



                                    function reservarVuelo() {
                                        var idalumnomateria = $("#idalumnomateria").text();
                                        var idmateria = $("#idmateria").val();  // Actualizado
                                        var idalumno = $("#idalumno").val();  // Actualizado
                                        var reservacionvuelo = {
                                            idalumnomateria: idalumnomateria,
                                            alumno: {
                                                idalumno: idalumno
                                            },
                                            materia: {
                                                idmateria: idmateria
                                            }
                                        };
                                        $.ajax({
                                            url: "http://localhost:8080/AlumnoMateriaApi/From",
                                            type: "POST",
                                            contentType: "application/json",
                                            dataType: "json",
                                            data: JSON.stringify(reservacionvuelo),
                                            success: function (data, textStatus, xhr) {
                                                if (xhr.status === 200) {
                                                    alert(' Registro Exitoso: ' + data.mensaje);
                                                } else {
                                                    alert('Error en el registro ' + data.mensaje);
                                                }
                                                // Recargar la página
                                                location.reload();
                                            },
                                            error: function (error) {
                                                alert('Error en el registro: ' + error.responseText);
                                                // Recargar la página
                                                location.reload();
                                            }
                                        });
                                    }
</script>